header {
    /* position: absolute; */
    min-width: 50vw;
    max-width: 100vw;
    width: 20em;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

header div {
    margin: 0em 1em;
    height: 2em;
    width: 100%;
}

header div * {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
    padding: none;
    width: 100%;
    height: 100%;
}

header div:not(:first-child) {
    width: 2em;
    margin-left: 0em;
}

header div::before,
header div::after {
    content: "";
    width: calc(100% + 0.3em);
    height: 1em;
    background: white;
    position: relative;
    display: block;
    top: 0px;
    left: 0;
}

header div::before {
    clip-path: polygon(0% 100%, 10% 3%, 94% 0%, 100% 97%, 97% 98%, 92% 38%, 12% 48%, 4% 100%);
}

header div::after {
    clip-path: polygon(
	    0% 0%,
	    2.1em 0%,
	    2.5em 0.25em,
	    100% 0.25em,
	    100% 0.75em,
	    calc(100% - 1em) 100%,
	    1em 100%,
	    0em 0.75em
	)
}