header {
  /* position: absolute; */
  min-width: 50vw;
  max-width: 100vw;
  width: 20em;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

header div {
  padding: 0.5em 0.25em;
  margin: 1em;
  width: 100%;
  display: flex;
  outline: #5f9ea050 3px solid;
  border-radius: 0.5em;
  background: hsl(182 100% 5% / 1);
  mix-blend-mode: exclusion;
}

header div input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

header div span {
  border: none;
  outline: black 1px solid;
  color: white;
  font-size: 1.5em;
  margin: 0 0.25em;
  width: inherit;
  text-transform: uppercase;
  text-align: center;
  line-height: calc(75% + 0.75em);
  border-radius: 0.1em;
  background: black;
  max-height: 5vw;
  height: 1.8em;
  min-height: 5vh;
  transition: 0.25s;
  cursor: text;
}

header div span:not(:empty) {
  outline-color: transparent;
  background: transparent;
}

header div span:hover {
  outline-color: grey;
  background: #00000080;
}

header div input:focus ~ span.caret {
  animation: lines 3s infinite;
  outline-color: white;
}

header div:not(:first-child) {
  width: 2em;
  margin-left: 0em;
}

header span {
  font-family: 'Russell Square';
  font-weight: 100;
}

header.shake div span {
  animation: shake 1s ease-out infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

header.shake {
  filter: hue-rotate(180deg);
}

header div span.shake {
  animation: shake 1s ease-out infinite, lines 3s infinite !important;
}

header.green {
  filter: hue-rotate(-40deg);
}
