[submodule "Dead-Space"]
	path = Dead-Space
	url = https://github.com/Transit-Lumber/Dead-Space.git
	branch = main
[submodule "SupeMaps"]
	path = supedb
	url = https://github.com/Transit-Lumber/supedb.git
[submodule "supe-game"]
	path = supe-game
	url = https://github.com/Transit-Lumber/supe-game.git
