@keyframes lines {
  0% {
    background-position-y: 0px;
    background-color: rgb(21, 55, 69);
  }
  25% {
    background-color: rgb(11, 27, 34);
  }
  50% {
    background-color: rgb(21, 55, 69);
  }
  75% {
    background-color: rgb(11, 27, 34);
  }
  100% {
    background-position-y: 16px;
    background-color: rgb(21, 55, 69);
  }
}

.post {
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: 0 0 10px var(--color-blue-darkest);
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0;
  width: 90%;
}

.post h1 {
  font-size: 2em;
  margin: 0.5em 0em;
  padding: 0;
  text-align: center;
}

.post h1::after {
  content: '';
  display: block;
  width: 75%;
  left: 12.5%;
  height: 2px;
  background-color: var(--color-green);
  transition: 0.25s;
  position: relative;
  top: 0.25em;
  margin-bottom: 1em;
}

.post h2 {
  font-size: 1em;
  padding: 0;
  text-align: center;
  margin-top: -1em;
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.5;
}

.post h2::after {
  content: '';
  display: block;
  width: 50%;
  left: 25%;
  height: 2px;
  background-color: var(--color-orange-dark);
  transition: 0.25s;
  position: relative;
  top: 0.25em;
  margin-bottom: 1em;
}

.post h3 {
  margin-top: 1.75em;
  margin-bottom: -0.25em;
  font-size: 0.75em;
  color: var(--color-green-light);
  width: 100%;
}

.post h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 0.25s;
  position: relative;
  bottom: 2em;
  margin-bottom: 1em;
  opacity: 0.25;
}

.post p {
  font-family: 'Roboto', sans-serif;
  margin: 0.5em 0em;
  padding: 0.1em;
  padding-left: 0.5em;
}

.post ul {
  font-family: 'Roboto', sans-serif;
  margin: 0.5em 1em;
  padding-left: 1em;
  list-style-type: square;
}

.post .gallery {
  background: repeating-linear-gradient(
    black 0px,
    black 2px,
    transparent 2px,
    transparent 4px
  );
  animation: lines 5s linear infinite;
  box-shadow: 0 0 20px 10px black inset;
  padding: 1em;
  margin: 1.5em 0;
  width: fit-content;
  max-width: -webkit-fill-available;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.post .gallery > div {
  display: flex;
  max-width: 45em;
  width: 100%;
  min-width: 10em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Russell Square';
  border: hwb(180deg 0% 50% / 50%) 2px solid;
  mix-blend-mode: screen;
}

.post .gallery div::-webkit-scrollbar-thumb {
  background: hwb(180deg 0% 50% / 50%);
}

.post .gallery div::-webkit-scrollbar-thumb {
  background: hwb(180deg 0% 50% / 50%);
}

.post .gallery div div {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex: 0 0 100%;
  text-align: -webkit-center;
  background: transparent;
  align-self: center;
}

.post .gallery div div:not(:last-child) {
  padding-right: 10px;
}

.post .gallery div div img {
  display: block;
  max-width: 100%;
}

.post .gallery span {
  font-family: 'Russell Square';
  line-height: calc(1.75em);
  display: block;
  width: calc(100% - 1em);
  height: 100%;
  text-align: center;
  background: hwb(180deg 0% 50% / 33%);
  padding: 0em 0.5em;
  font-size: small;
  font-style: italic;
  box-shadow: 0 0 4px 2px black inset;
}

.post .audio {
  height: 7em;
  display: flex;
  position: relative;
  justify-content: center;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.post .audio span {
  font-family: 'Russell Square';
  position: absolute;
  top: calc(0.75em + 2px);
  text-wrap: nowrap;
  height: calc(2.25em + 2px);
  line-height: calc(2.25em + 2px);
  width: calc(100% - 1.5em - 4px);
  text-align: center;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  background: hwb(180deg 0% 50% / 33%);
}

.post .audio audio {
  background: repeating-linear-gradient(
    black 0px,
    black 2px,
    transparent 2px,
    transparent 4px
  );
  animation: lines 5s linear infinite;
  box-shadow: 0 0 20px 10px black inset;
  padding: 0.75em;
  height: calc(100% - 1em);
  width: calc(90vw - 2em);
  max-width: 500px;
}

.post .audio audio::-webkit-media-controls {
  background: transparent;
  border: hwb(180deg 0% 50% / 50%) 2px solid;
  border-radius: 1em;
}

.post .audio audio::-webkit-media-controls-enclosure {
  background: transparent;
  filter: invert(1);
}

.post .audio audio::-webkit-media-controls-current-time-display,
.post .audio audio::-webkit-media-controls-time-remaining-display {
  font-family: 'Russell Square';
  /* text-shadow: 0 0 4px hwb(0deg 0% 50% / 50%); */
}

/* 

audio::-webkit-media-controls-overlay-enclosure

audio::-webkit-media-slider-container

audio::-webkit-media-controls-enclosure

audio::-webkit-media-controls-panel

audio::-webkit-media-controls-mute-button

audio::-webkit-media-controls-play-button

audio::-webkit-media-controls-timeline-container

audio::-webkit-media-controls-current-time-display

audio::-webkit-media-controls-time-remaining-display

audio::-webkit-media-controls-timeline

audio::-webkit-media-controls-volume-slider-container

audio::-webkit-media-controls-volume-slider

audio::-webkit-media-controls-seek-back-button

audio::-webkit-media-controls-seek-forward-button

audio::-webkit-media-controls-fullscreen-button

audio::-webkit-media-controls-rewind-button

audio::-webkit-media-controls-return-to-realtime-button

audio::-webkit-media-controls-toggle-closed-captions-button

*/
