/* ===== ------------------ ===== */
/* =====   SNEEZE COUNTER   ===== */
/* ===== ------------------ ===== */

#sneezeBox {
  top: -3em;
  padding-top: 1em;
  position: relative;
}

.card {
  margin: 1.75em;
  margin-bottom: 0;
  border: solid white 0.1em;
  text-align: center;
  border-radius: 1em;
  height: -webkit-fill-available;
}

.card p {
  width: 100%;
}

.card b {
  color: var(--color-green-lighter);
}

.card #count {
  color: var(--color-green-lightest);
}

.card .date {
  color: var(--color-orange-dark);
}

/* ===== ----------------- ===== */
/* =====   CALENDAR VIEW   ===== */
/* ===== ----------------- ===== */

:root {
  --square-size: 9px;
  --square-gap: 3px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months {
  grid-area: months;
  height: 0;
  padding-top: 0;
  margin-top: 0;
}

.days {
  grid-area: days;
  width: 0;
  padding-left: 0;
  margin-left: 0;
}

.squares {
  grid-area: squares;
}

.switch {
  grid-area: switch;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0em;
}

.switch a {
  font-family: monospace;
  font-size: larger;
  margin: 0.5em;
  cursor: pointer;
  /* cursor: not-allowed; */
  /* opacity: 0.5; */
}

.switch a::after {
  display: none;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    'empty1 months'
    'days squares'
    'empty2 switch';
  grid-template-columns: auto 1fr;
}

.graph li {
  list-style: none;
}

.months {
  display: grid;
  grid-template-columns:
    calc(var(--week-width) * 4) /* Jan */
    calc(var(--week-width) * 4) /* Feb */
    calc(var(--week-width) * 4) /* Mar */
    calc(var(--week-width) * 5) /* Apr */
    calc(var(--week-width) * 4) /* May */
    calc(var(--week-width) * 4) /* Jun */
    calc(var(--week-width) * 5) /* Jul */
    calc(var(--week-width) * 4) /* Aug */
    calc(var(--week-width) * 4) /* Sep */
    calc(var(--week-width) * 5) /* Oct */
    calc(var(--week-width) * 4) /* Nov */
    calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.graph {
  padding: 20px;
  border: 1px white solid;
  margin: 20px;
  font-family: monospace;
}

.days li {
  line-height: calc(var(--square-gap) / 2 + var(--square-size));
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li.unconfirmed {
  background: linear-gradient(
    45deg,
    transparent,
    transparent calc(50% - 1px),
    #aaa calc(50% - 1px),
    #aaa calc(50% + 1px),
    transparent calc(50% + 1px),
    transparent 100%
  );
  background-blend-mode: multiply;
}

.squares li[data-level='0'] {
  background-color: black;
}

.squares li[data-level='1'] {
  background-color: #111;
}

.squares li[data-level='2'] {
  background-color: #020;
}

.squares li[data-level='3'] {
  background-color: #040;
}

.squares li[data-level='4'] {
  background-color: #060;
}

.squares li[data-level='5'] {
  background-color: #282;
}

.squares li[data-level='6'] {
  background-color: #4a4;
}

.squares li[data-level='7'] {
  background-color: #7c7;
}

.squares li[data-level='8'] {
  background-color: #bfb;
}

.graph.yearly {
  display: none;
}

@media screen and (min-width: 825px) {
  .graph.yearly {
    display: inline-grid;
  }

  .graph.monthly {
    display: none;
  }
}
