/* ===== -------------- ===== */
/* =====   ANIMATIONS   ===== */
/* ===== -------------- ===== */

@keyframes error-scanline {
    0% {
        left: -5em;
    }
    100% {
        left: calc(100vw + 5em);
    }
}

@keyframes error-lines {
    0% {
        background-position-y: 0px;
        background-color: hsl(30 100% 50% / 0.5);
    }
    25% {
        background-color: hsl(30 100% 50%  / 0.25);
    }
    50% {
        background-color: hsl(30 100% 50%  / 0.3);
    }
    75% {
        background-color: hsl(30 100% 50%  / 0.15);
    }
    100% {
        background-position-y: 16px;
        background-color: hsl(30 100% 50%  / 0.5);
    }
}

/* ===== ----------------- ===== */
/* =====   HTML AND BODY   ===== */
/* ===== ----------------- ===== */

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: calc(100vw - 0.5em);
    max-width: 600px;
    height: auto;
    top: calc(50vh - 5em);
    background: repeating-linear-gradient(
        rgba(0,0,0,1) 0ex,
        rgba(0,0,0,1) 2px,
        rgba(0,0,0,0) 2px,
        rgba(0,0,0,0) 4px);
    animation: error-lines 5s linear infinite;
    border-radius: 10%;
    box-shadow: 0 0 20px 20px rgb(0 0 0) inset;
    overflow: hidden;
    z-index: 0;
}

/* ===== ----------------- ===== */
/* =====   ERROR MESSAGE   ===== */
/* ===== ----------------- ===== */

p {
    color: white;
    z-index: -1;
    margin-left: 1em;
    display: inline-block;
    width: fit-content;
    padding: 0 1em;
    background: #00000055;
    border-radius: 10%;
    overflow: hidden;
    z-index: 0;
}

#error-scanline {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 1em;
    height: 10em;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right,
                                transparent   0%,
                                #00000088  50%,
                                transparent 100% );
    animation: error-scanline 4s linear infinite;
    z-index: 1;
}