#content,
.post {
  border: 1px solid white;
  border-radius: 1em;
  box-shadow: 0 0 10px var(--color-blue-darkest);
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  padding-bottom: 0;
}

#content h1,
.post h1 {
  font-size: 2em;
  margin: 0.5em 0em;
  padding: 0;
  text-align: center;
}

#content h1::after,
.post h1::after {
  content: '';
  display: block;
  width: 75%;
  left: 12.5%;
  height: 2px;
  background-color: var(--color-blue);
  transition: 0.25s;
  position: relative;
  top: 0.25em;
  margin-bottom: 1em;
}

#content h2,
.post h2 {
  font-size: 1.5em;
  margin: 0.5em 0em;
  padding: 0;
}

#content h2::after,
.post h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  transition: 0.25s;
  position: relative;
  top: 0.25em;
  margin-bottom: 1em;
  opacity: 0.5;
}

#content p,
.post p {
  font-family: 'Roboto', sans-serif;
  margin: 1em 0em;
  padding: 0.1em;
  padding-left: 0.5em;
}

#content ul,
#content ol,
.post ul,
.post ol {
  font-family: 'Roboto', sans-serif;
  list-style-type: square;
  padding: 0.5em 0 0.5em 2em;
  margin: 2em 0 1.5em 0.5em;
  background-color: #ffffff10;
  width: calc(100% - 3.5em);
  max-width: calc(100vw - 6em);
  border-radius: 0.5em;
}

#content ul[headerText]::before,
#content ol[headerText]::before,
.post ul[headerText]::before,
.post ol[headerText]::before {
  content: attr(headerText) ':';
  display: block;
  font-family: 'Russell Square';
  font-size: 1.25em;
  margin-bottom: 0.5em;
  margin-left: -1em;
  color: #bbb;
}

#content ul li::marker,
#content ol li::marker,
.post ul li::marker,
.post ol li::marker {
  color: #888;
}

#content ul li,
#content ol li,
.post ul li,
.post ol li {
  margin: 0.25em 0;
  padding-left: 0.5em;
}

#content ul li:not(:last-child)::after,
#content ol li:not(:last-child)::after,
.post ul li:not(:last-child)::after,
.post ol li:not(:last-child)::after {
  content: '';
  display: block;
  width: calc(100% - 1.5em);
  height: 1px;
  background-color: #222;
  margin: 0.5em 0;
  position: relative;
}

#content subtitle,
.post subtitle {
  font-size: 1em;
  padding: 0;
  text-align: center;
  margin-top: -1em;
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.5;
  display: block;
  width: 100%;
}

#content subtitle::after,
.post subtitle::after {
  content: '';
  display: block;
  width: 50%;
  left: 25%;
  height: 2px;
  background-color: var(--color-green-dark);
  transition: 0.25s;
  position: relative;
  top: 0.25em;
  margin-bottom: 1em;
}

#content date,
.post date {
  margin-top: 1.75em;
  margin-bottom: -0.25em;
  font-size: 0.75em;
  color: var(--color-green-light);
  display: block;
  width: 100%;
}

#content date::after,
.post date::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  transition: 0.25s;
  position: relative;
  bottom: 2em;
  margin-bottom: 1em;
  opacity: 0.25;
}

#content code,
.post code {
  background-color: #ffffff10;
  border-radius: 0.5em;
  outline: var(--color-blue-darkest) 2px solid;
  display: block;
  margin: 1em;
  padding: 1em;
}

.gallery {
  background: repeating-linear-gradient(
    black 0px,
    black 2px,
    transparent 2px,
    transparent 4px
  );
  animation: lines 5s linear infinite;
  box-shadow: 0 0 20px 10px black inset;
  padding: 1em;
  margin: 1.5em 0;
  width: fit-content;
  max-width: -webkit-fill-available;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.gallery > div {
  display: flex;
  max-width: 45em;
  width: 100%;
  min-width: 10em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Russell Square';
  border: hwb(180deg 0% 50% / 50%) 2px solid;
  mix-blend-mode: screen;
}

.gallery div::-webkit-scrollbar-thumb {
  background: hwb(180deg 0% 50% / 50%);
}

.gallery div::-webkit-scrollbar-thumb {
  background: hwb(180deg 0% 50% / 50%);
}

.gallery div div {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex: 0 0 100%;
  text-align: -webkit-center;
  background: transparent;
  align-self: center;
}

.gallery div div:not(:last-child) {
  padding-right: 10px;
}

.gallery div div img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
}

.gallery span {
  font-family: 'Russell Square';
  line-height: calc(1.75em);
  display: block;
  width: calc(100% - 1em);
  height: 100%;
  text-align: center;
  background: hwb(180deg 0% 50% / 33%);
  padding: 0em 0.5em;
  font-size: small;
  font-style: italic;
  box-shadow: 0 0 4px 2px black inset;
}

.audio {
  height: 7em;
  display: flex;
  position: relative;
  justify-content: center;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.audio span {
  font-family: 'Russell Square';
  position: absolute;
  top: calc(0.75em + 2px);
  text-wrap: nowrap;
  height: calc(2.25em + 2px);
  line-height: calc(2.25em + 2px);
  width: calc(100% - 1.5em - 4px);
  text-align: center;
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  background: hwb(180deg 0% 50% / 33%);
}

.audio audio {
  background: repeating-linear-gradient(
    black 0px,
    black 2px,
    transparent 2px,
    transparent 4px
  );
  animation: lines 5s linear infinite;
  box-shadow: 0 0 20px 10px black inset;
  padding: 0.75em;
  height: calc(100% - 1em);
  width: calc(90vw - 2em);
  max-width: 500px;
}

.audio audio::-webkit-media-controls {
  background: transparent;
  border: hwb(180deg 0% 50% / 50%) 2px solid;
  border-radius: 1em;
}

.audio audio::-webkit-media-controls-enclosure {
  background: transparent;
  filter: invert(1);
}

.audio audio::-webkit-media-controls-current-time-display,
.audio audio::-webkit-media-controls-time-remaining-display {
  font-family: 'Russell Square';
  /* text-shadow: 0 0 4px hwb(0deg 0% 50% / 50%); */
}
