/* ===== ------------ ===== */
/* =====   PROJECTS   ===== */
/* ===== ------------ ===== */

body > h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition-duration: 0.5s;
}

h1:nth-of-type(2) {
    opacity: 0;
    animation: fadein 2s;
    margin-top: 1em;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw + -5em);
    height: fit-content;
    min-height: 20em;
    animation: fadein 2s;
    border: #FFFFFF88 1px solid;
    border-radius: 1em;
    margin-bottom: 2em;
    transition-duration: 0.25s;
    color: white;
    text-decoration: none;
}

#other .project {
    min-height: 5em;
}

#other .project h3 {
    font-size: 1.5em;
    margin: 0.5em 0em;
}

#other .project h3::after {
    display: none;
}

#other .project p:empty {
    /* Hide empty paragraphs so there isn't a gap */
    display: none;
}

#other .project:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}

.project h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: var(--color-blue-lightest);
    text-align: center;
    transition-duration: 0.25s;
    margin-top: 0.5em;
}

.project h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-orange);
    transition: 0.25s;
    position: relative;
    top: 0.25em;
    left: 0;
}

.featured .project h3::after,
.other .project:hover h3::after {
    width: calc(100% + 1em);
    height: 1px;
    left: -0.5em;
}

.project p {
    transition: 0.25s;
    padding: 0 1em;
    height: 2em;
    /* Vertical centered text */
    display: flex;
    align-items: center;
    
}

.project img, .project iframe {
    /* Don't stretch when resizing to fill */
    object-fit: contain;
    width: calc(100% - 2em);
    height: 8em;
    border: solid 1px white;
    margin-bottom: 1em;
}

.project .project-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
    height: 2em;
    margin-bottom: 1em;
}

.project-links a {
    color: var(--color-green);
    font-family: 'Roboto', sans-serif;
    border: 1px solid var(--color-green-light);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.project-links a:hover {
    background-color: #FFFFFF00;
    transform: scale(1.05);
}

/* Desktop: Show two projects in each column 
The first child will be on it's own however*/
@media screen and (min-width: 800px) {
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .project {
        width: 40%;
        margin: 1em;
    }
}